.layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-height: 100vh;
    grid-gap: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    overflow: hidden;

}

.button1 {
    width: 6em;
    height: 6em;
    background-color: #DA7474;
    /*border: 0.1em solid rgb(131, 48, 48);
    mix-blend-mode: hard-light;*/
    border-radius: 50%;
    margin: 4em 0;
    margin-top: 40vh;
    position: absolute;
    left:-4em;
}

.button2 {
    width: 6em;
    height: 6em;
    background-color: #EBB9B9;
    /*mix-blend-mode: hard-light;
    border: 0.1em solid rgb(131, 48, 48);*/
    border-radius: 50%;
    margin-top: 60vh;
    position: absolute;
    left:-4em;
}

.button1:hover, .button2:hover  {
    left: 2em;
}

a{
    text-decoration: none;
    color: black;
}

a:hover { 
    color: red;
}

p{
    text-align: justify;
    margin-top: 0vw;
    font-family: Helvetica, Arial, sans-serif;
    position: relative;
    animation: float 50s infinite  normal ease-out;
    z-index: 1;
}

@keyframes float {
   0% {
       top:0px;
   }
   100% {
       top: -200vh;
   }
}

.main {
   grid-column-start: 1;
}

.main2 {
    grid-column-start: 2;
}

.main3 {
    grid-column-start: 3;
}

.main4 {
    grid-column-start: 4;
}

.main5 {
    grid-column-start: 5;
}